# NodeJS config
NODE_ENV=local|docker|production

# Application config
NAME="Tic Tac Toe API"
VERSION=0.1.0
PORT=3001
CORS=false
CORS_DOMAINS=

# OAuth
OAUTH_ISSUER=
OAUTH_AUDIENCE=https://tic-tac-toe-api
OAUTH_CUSTOM_CLAIM_KEY=https://tic-tac-toe

# JWT
JWT_SECRET=sAERgseomkwaWWEs
JWT_EXPIRES_IN=3600
JWT_ISS=tic_tac_toe-api
JWT_AUD=localhost:3001

# Database
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=username
DATABASE_PASSWORD=password
DATABASE_DB=tic_tac_toe
DATABASE_URL="postgresql://username:password@localhost:5432/tic_tac_toe"

# Redis config
REDIS_CLUSTER=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD=
