# NodeJS config
NODE_ENV=development

# Application config
NAME="Tic Tac Toe API"
VERSION=0.1.0
PORT=3000
CORS=false

# JWT
APP_JWT_SECRET=sAERgseomkwaWWEs
APP_JWT_EXPIRES_IN=3600
APP_JWT_ISS=tic_tac_toe-api
APP_JWT_AUD=localhost:3001

# Database
DATABASE_CLIENT=postgresql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=admin
DATABASE_PASSWORD=
DATABASE_DATABASE=tic_tac_toe
DATABASE_MIGRATIONS_RUN=false
DATABASE_SYNCHRONIZE=false
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DATABASE}?schema=public"

# Redis config
REDIS_CLUSTER=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD=
